<template>
  <div>
    <!-- begin::side menu -->
    <div class="side-menu">
      <div class="side-menu-body">
        <ul>
          <li class="side-menu-divider m-t-20"></li>
          <li>
            <router-link :to="{ name: 'my-apps' }">
              <span style="margin-right: 10px">
                <i style="font-size: 20px" class="flaticon-dashboard"></i
              ></span>
              <span>Dashboard</span>
            </router-link>
          </li>
          <li>
            <router-link :to="{ name: 'users' }">
              <span style="margin-right: 10px"
                ><i
                   style="font-size: 20px; color: grey"
                  class="flaticon-group-1"
                ></i
              ></span>
              <span>Employees</span>
            </router-link>
          </li>
              <li>
            <router-link :to="{ name: 'images' }">
              <span style="margin-right: 10px"
                ><i
                  style="font-size: 20px; color: grey"
                  class="flaticon-app"
                ></i
              ></span>
              <span>Images upload</span>
            </router-link>
          </li>
        </ul>
        <div class="side-menu-status-bars">
          <div>
            <div>
              <a href="#" v-b-modal.modal-tall>Terms of service</a>

              <b-modal id="modal-tall" title="Terms of service">
                <p class="my-4" v-for="i in 20" :key="i">
                  Cras mattis consectetur purus sitt amet fermentum. Cras justo
                  odio, dapibus ac facilisis in, egestas eget quam. Morbi leo
                  risus, porta ac consectetur ac, vestibulum at eros.
                </p>
              </b-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::side menu -->

    <!-- begin::navbar -->
    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <div class="header-logo">
          <a href="#" class="text-white">
            <h4 style="letter-spacing: 3px">Devs Smart</h4>
          </a>
        </div>

        <div class="header-body">
          <form class="search" @submit.prevent="">
            <div class="row">
              <div class="col-md-4"></div>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                href="#"
                style="background-color: #4285f4"
                class="nav-link"
                data-toggle="dropdown"
              >
                <i
                  style="font-size: 22px; color: white"
                  class="flaticon-person-shape"
                ></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                <div
                  class="dropdown-menu-title text-center"
                  data-backround-image="/defaults/image1.png"
                >
                  <figure
                    class="avatar avatar-state-success avatar-sm m-b-10 bring-forward"
                  >
                    <img
                      src="/defaults/user.png"
                      class="rounded-circle"
                      alt="image"
                    />
                  </figure>
                  <h6 class="text-uppercase font-size-12 m-b-0">
                    {{ user.name }}
                  </h6>
                </div>
                <div class="dropdown-menu-body">
                  <ul class="list-group list-group-flush">
                    <router-link
                      :to="{ name: 'my-account' }"
                      class="list-group-item link-2"
                      >Profile</router-link
                    >
                    <a
                      href="#"
                      class="list-group-item text-danger"
                      @click.prevent="logout"
                      >Logout</a
                    >
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end::navbar -->

    <!-- begin::main content -->
    <main class="main-content">
      <div class="container">
        <router-view />
        
      </div>
    </main>
  </div>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$axios.post("logout").then((response) => {
        this.$auth.removeToken();
        window.location.href = "/";
      });
    },
  },

  computed: {
    user() {
      return this.$store.getters.getAuthUser;
    },
  },
};
</script>

<style scoped></style>
