<template>
  <div>

  </div>
</template>

<script>
export default {
  mounted() {
    if(this.$auth.hasToken()) {
      this.$router.push({ name: 'dashboard' })
    } else {
      this.$router.push({ name: 'login' })
    }
  }
}
</script>