<template>
  <div>
    <div class="page-header">
      <h3
        style="letter-spacing: 1px; font-size:16px; text-transform: uppercase;"
      >
        Create User
      </h3>
    </div>
    <div class="card">
      <div class="card-body">
        <form @submit.prevent="submit">
         
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label> Name</label>
                 <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  required
                  v-model="app.name"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter user Email"
                  required
                  v-model="app.email"
                />
              </div>
            </div>
                       <div class="col-6">
              <div class="form-group">
                <label>Phone Number</label>
                 <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Phone number"
                  required
                  v-model="app.phone"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Location</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="location"
                  required
                  v-model="app.location"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      app: {
        name: "",
        email: "",
         email: "",
        location: "",
      },
    };
  },

  methods: {
    submit() {
      let data = new FormData();
      data.append("name", this.app.name);
      data.append("email", this.app.email);
      data.append("phone", this.app.phone);
      data.append("location", this.app.location);

      this.$axios
        .post("/employees", data, {
          headers: { "content-type": "multipart/form-data" },
        })
        .then((response) => {
          this.$router.push({
            name: "images",
          });
        });
    },
  },
};
</script>
