<template>
  <div>
    <div class="page-header">
      <h3 class="text-capitalize">Upload Image</h3>
    </div>

          
    <div class="card">
      
      <div class="card-body">
        <form @submit="formSubmit" enctype="multipart/form-data" >
          <div class="alert alert-info">
      <div v-if="success != ''" class="alert alert-success">
                            {{success}}
                        </div>
          </div>
        <div class="form-group mt-4">     
          <div class="col-3">
            <label>Upload image</label>
          </div>
          <div class="col-9">
          <label> Image</label>
             <input type="file" class="form-control" v-on:change="onChange" required>
          </div>
          </div>
          <div class="form-group mt-4">     
          <div class="col-3">
            <label>Select User</label>
          </div>
          <div class="col-9">
            <select class="form-control" v-model="selected_users" required>
              <option value="0">Select App</option>
              <option
                v-for="(user, i) in users"
                :value="user"
                :key="`app-${i}`"
                >{{ user.name }}</option
              >
            </select>
          </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch()
    this.get()
  },

  data() {
    return {
      app: {

      },
      image: '',
      success: '',
      group: {},
       selected_users: 0,
        users: [],
        
    };ss
  },

  methods: {

       onChange(e) {
                this.file = e.target.files[0];
            },
       fetch() {
      this.$axios.get("/employees").then((response) => {
        this.users = response.data.Employees;
      });
    },
    formSubmit(e) {
                e.preventDefault();
                let existingObj = this;

                const config = {
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                }

                let data = new FormData();
                data.append('image', this.file);
                data.append('employee_id', this. selected_users.id)

                axios.post('/images', data, config)
                 .then((response) => {
          this.$router.push({
            name: "users",
          });
        });
            }
  }
};
</script>
