<template>
  <div>
    <!-- begin::page header -->
    <div class="page-header">
      <router-link
        :to="{ name: 'create-user' }"
        class="btn btn-primary btn-sm pull-right mr-2"
        ><i class="fa fa-plus mr-2"></i> Add user</router-link
      >
      <h2 style="letter-spacing: 1px; font-size: 24px">Users</h2>
    </div>
    <!-- end::page header -->

    <input
      type="text"
      id="myInput"
      v-model="filter"
      placeholder="Search for users..."
      title="Type in a name"
    />
    <!-- <div style="margin:10px;">
        <button  class="btn btn-primary btn-sm pull-left" @click="downloadCsv()">
              Generate Excel Report
       </button>
    </div> -->
    <table id="table">
      <tr>
   
        <th style="letter-spacing: 1px; font-size: 13px">Name</th>
        <th style="letter-spacing: 1px; font-size: 13px">Email</th>
        <th style="letter-spacing: 1px; font-size: 13px">Phone Number</th>
        <th style="letter-spacing: 1px; font-size: 13px">Location</th>
        <th style="letter-spacing: 1px; font-size: 13px">Created at</th>
        <th style="letter-spacing: 1px; font-size: 13px">VIEW</th>
            <th></th>
      </tr>
      <tr v-for="(user, i) in filteredRows" :key="`user-${i}`">
       
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.location }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <router-link
            :to="{ name: 'users-details', params: { id: user.id } }"
          >
            <button class="btn-1">VIEW</button>
          </router-link>
        </td>
        <td>
          <router-link
            :to="{ name: 'users.show', params: { id: user.id } }"
          >
            <button class="btn-1">Update</button>
          </router-link>
        </td>

      </tr>
    </table>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch();
  },

  data() {
    return {
      filter: "",
      users: [],
    };
  },
  computed: {
    filteredRows() {
      return this.users.filter((user) => {
        const name = user.name.toString().toLowerCase();
        const searchTerm = this.filter.toLowerCase();

        return name.includes(searchTerm);
      });
    },
  },

  methods: {
    fetch() {
      this.$axios.get("/employees").then((response) => {
        this.users = response.data.Employees;
      });
    },
  },
};
</script>
<style scoped>
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(128, 128, 125);
  color: white;
}
</style>
<style scoped>
#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 15px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.btn-1 {
  padding: 6px 20px;
  border-radius: 100px;
  border: solid 1px orange;
  outline: none;
  color: orange;
  transition: all 0.2s;
  background-color: #fff;
  letter-spacing: 1px;
}
.btn-1:hover {
  background-color: rgb(252, 242, 225);
  transform: scale(0.99);
}
.btn-1:active {
  transform: translateY(3px);
}

</style>
