<template>
  <div>
    <div class="page-header">
      <h3
        style="letter-spacing: 1px; font-size: 16px; text-transform: uppercase"
      >
        User Details
      </h3>
    </div>
    <div>
      <div class="app-section-header"></div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body" style="height: 300px">
              <div class="row" style="padding-bottom: 200px">
                <div class="col-5" style="height: 90px">
                  <h3>Name</h3>
                  <p>{{ user.name }}</p>
                </div>
                <div class="col-5" style="height: 90px">
                  <h3>Email</h3>
                  <p>{{ user.email }}</p>
                </div>
                <div class="col-5" style="height: 90px">
                  <h3>Phone number</h3>
                  <p>{{ user.phone }}</p>
                </div>
                <div class="col-5" style="height: 90px">
                  <h3>location</h3>
                  <p>{{ user.location }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3>Images</h3>
        <div class="row1" style="height: 500px">
          <div v-for="(image, i) in images"  :key="`app-${i}`">
            <div class="column">
              <img
                :src="'http://127.0.0.1:8000/images/' + image.image"
                style="width: 100% "
              />
            </div>
          </div>
        </div>
        <button
          class="btn-2"
          @click="deleteProduct(user.id)"
          style="margin-left: 300px"
        >
          DELETE
        </button>
        <!-- <form @submit.prevent="submit">
         
          <div class="row">
            <div class="col-6">
              <div class="form-user">
                 <input
                  type="hidden"
                  class="form-control"
                  placeholder="Name"
                  required
                  :value="user.id"
                  id="xyc"
                />
              </div>
            </div>
            <div class="col-6">
      
            </div>
          </div>
      
          <div class="form-user">
            <button class="btn btn-success">Place Order</button>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.fetch();
    this.get();
  },
  data() {
    return {
      app: {},
      images: [],
      user: {},
    };
  },

  methods: {
    fetch() {
      this.$axios
        .get(`/employees/${this.$route.params.id}`)
        .then((response) => {
          this.user = response.data.Employees;
        });
    },
    get() {
      this.$axios
        .get(`http://127.0.0.1:8000/api/v1/images/${this.$route.params.id}`)
        .then((response) => {
          this.images = response.data.images;
        });
    },
    deleteProduct(id) {
      this.$axios.delete(`/employees/delete/${id}`).then((response) => {
        this.$router.push({
          name: "users",
        });
      });
    },
  },
};
</script>

<style scoped>
.btn-2 {
  padding: 6px 20px;
  border-radius: 100px;
  text-decoration-color: aliceblue;
  outline: none;
  color: rgb(255, 0, 0);
  transition: all 0.2s;
  background-color: rgba(212, 78, 78, 0.596);
  letter-spacing: 1px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-bottom: 30px;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}
</style>