@import 'variables';

body {
  padding-top: 0;
}

#app-simulator {
  background: #ddd;
  height: 100vh;
  width: 100vw;

  .phone-body {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    background: #404040;
    position: relative;
    top: 5vh;
    padding: 10px;
    border-radius: 20px;

    .screen {
      height: 100%;
      background: #fff;
      border-radius: 15px;
      overflow-y: auto;

      .status-bar {
        background: $whatsapp;
        padding: 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        color: #fff;
        font-size: 16px;
        position: fixed;
        width: 300px;

        a {
          color: #fff;
          margin-right: 1rem;
        }

        .dropdown-menu {
          a {
            color: #404040;
            padding: 5px 10px;
          }
        }
      }

      .app-content {
        padding-top: 64px;

        .app-row {
          display: block;
          width: 100%;

          .app-card {
            display: inline-block;
            width: 50%;

            .app-card-content {
              margin: 15px;
              text-align: center;
              border-radius: 10px;

              .count {
                background: $red;
                border-radius: 50%;
                padding: 0 5px;
                position: absolute;
                right: 50px;
              }

              a {
                color: #fff;
                display: block;
                padding: 20px;

                i {
                  font-size: 45px;
                  display: block;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }

        .message-content {
          padding: 20px;

          .title {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
          }

          .content {
            margin-top: 30px;
          }

          .send_to {
            margin-top: 50px;
          }
        }

        .inbox-list {
          ul {
            list-style: none;
            padding: 0;

            li {
              a {
                display: block;
                padding: 10px;
                border-bottom: solid 1px #ddd;
                color: #404040;

                &:hover {
                  background: #eee;
                }

                p {
                  margin-bottom: 0;

                  &.name {
                    i {
                      margin-right: 5px;
                    }

                    .title {
                      font-weight: bold;
                    }

                    .date {
                      float: right;
                    }
                  }
                }
              }
            }
          }
        }

        .compose {
          padding: 20px;
        }
      }
    }
  }
}

#simulator-loader {
  width: 320px;
  left: calc(50% - 160px);
  height: 90vh;
  background: rgba(#000, .5);
  position: absolute;
  top: 5vh;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  padding-top: calc(50vh - 5rem);

  .app-loading {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
  }

  span {
    display: block;
    color: #fff;
    margin-top: .6rem;
  }
}

.message-sent {
  width: 320px;
  left: calc(50% - 160px);
  height: 90vh;
  background: rgba(#000, .5);
  position: absolute;
  top: 0;
  padding: 10px;
  border-radius: 20px;
  padding-top: 40%;

  .sent-card {
    background: #fff;
    width: 90%;
    margin: auto;
    padding: 10px 20px 40px 20px;
    border-radius: 5px;
    text-align: center;

    .icon {
      font-size: 60px;
      margin-bottom: 0;
    }

    .sent-text {
      font-size: 18px;
    }
  }
}