<template>
  <div class="container h-100-vh">
    <div class="row align-items-md-center h-100-vh">
      <div class="col-lg-6 d-none d-lg-block">
        <img
          class="img-fluid"
          src="/defaults/recover-password.svg"
          alt="Recover Password"
        />
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="m-b-20">
          <h4>Tradesk</h4>
          <!-- <img src="/logo.png" class="m-r-15" width="180" alt="" /> -->
        </div>
        <h3>Recovery Password</h3>
        <p>Change your password now</p>
        <form>
          <div class="form-group mb-4">
            <input
              type="email"
              class="form-control fodrm-control-lg"
              autofocus
              placeholder="Email Address"
              v-model="user.email"
            />
          </div>
          <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">
            Submit
          </button>
          <p class="text-right">
            <router-link :to="{ name: 'login' }" class="text-underline"
              >Sign in now</router-link
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: ""
      }
    };
  }
};
</script>
