<template>
  <div>
    <div class="container h-100-vh">
      <div class="row align-items-md-center h-100-vh">
        <div class="col-lg-6 offset-lg-1">
          <div class="m-b-20">
            <h4>Devs Smart</h4>
            <!-- <img src="/logo.png" class="m-r-15" width="180" alt="" /> -->
            <div class="alert alert-danger" v-if="login_has_error">
              Invalid Credentials, wrong username and/or password
            </div>
          </div>
          <p>Sign in to continue.</p>
          <form @submit.prevent="login">
            <div class="form-group mb-4">
              <input
                type="text"
                class="form-control form-control-lg"
                autofocus
                placeholder="Email"
                v-model="user.email"
              />
            </div>
            <div class="form-group mb-4">
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Password"
                v-model="user.password"
              />
            </div>
            <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4">
              Sign In
            </button>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <router-link
                :to="{ name: 'register' }"
                class="auth-link text-black"
                >Don't have an account? Register</router-link
              >
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <router-link
                :to="{ name: 'forgot-password' }"
                class="auth-link text-black"
                >Forgot password?</router-link
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
      login_has_error: false,
    };
  },

  methods: {
    login() {
      this.login_has_error = false;

      this.$axios
        .post("login", this.user)
        .then((response) => {
          this.login_has_error = false;
          this.$auth.setToken(response.data.access_token);
          window.location.href = "dashboard/my-apps";
        })
        .catch((error) => {
          this.login_has_error = true;
        });
    },
  },
};
</script>
